@charset "utf-8";

@font-face {
     font-family: 'MyCustomFont'; /* フォントの名前 */
     src: url('../fonts/PixelMplus10-Regular.ttf') format('truetype');
     font-weight: normal; /* フォントの太さ */
     font-style: normal; /* フォントのスタイル */
   }

@font-face {
     font-family: 'MyCustomFont'; /* フォントの名前 */
     src:url('../fonts/PixelMplus10-Bold.ttf') format('truetype');
     font-weight: bold; /* フォントの太さ */
     font-style: normal; /* フォントのスタイル */
}

*{
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column; /* 縦方向flex */
    background: rgb(223, 216, 199);
    min-height: 100vh;
}


.main-leyout{
    display: flex;
    flex: 1;      
    width: 100%;
}

aside{
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.window{
    width: 140px;
    height: 170px;
    display: grid;
    grid-template-rows: 70px 70px;
    grid-template-columns: 70px 1fr;
}

.window div{
    width: 70px;
    height: 85px;
    background: white;
    border: rgb(59, 59, 59) solid 3px;
}

.window-l{
    position: absolute;
    right:110px;
}

.window-r{
    position: absolute;
    left:110px;
}

main{
    padding: 0 1rem 2rem;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    flex: 1;
    min-width: 420px;
}

h1,
h2{
    text-align: center;
    font-weight: bold;
    letter-spacing:5px;
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-weight: normal;
    letter-spacing:1px;

}

h3{
    font-family: 'MyCustomFont', Arial, sans-serif;
    font-weight: normal;
    letter-spacing:1px;

}

header{
    background: white;
}

.bg{
    background-image: repeating-linear-gradient(90deg, #00afcc, #00afcc 10px, transparent 10px, transparent 20px);
}

h1{
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 800px;
}

h1 a{
    border: 1px solid gray;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: white;
    padding: 10px 20px;
}

.kanban{
    width: 80%;
    height: 90px;
    border-left: 0.5px solid gray;
    border-right: 0.5px solid gray;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 0 auto;
}

.kanban h2{
    width: 100%;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    
}



ul{
    margin-top: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem; /* 要素間の隙間 */
    justify-items: center; /* 各アイテムを中央寄せ */
}

.content{

}

.game-style{
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    border: 3px solid rgb(59, 59, 59);
}

li{
    width: 200px;
    height: 300px;
}

.content a{
    text-decoration: none;
    color: black;
}

.content img{   
    width: 90%;
    height: 90%;
    vertical-align: bottom;
    /* padding: 10px 10px 0; */
    box-sizing: border-box;
    /* /* object-fit: cover; */
    /* border-top: 15px solid #202020; */
    /* border-right: 20px solid #202020; */
    /* border-bottom: 25px solid black; */
    /* border-left: 20px solid #202020; */

    margin: 10px 10px 0;
    border-radius: 5px;

}

.content h3{
    width: 100%;
    /* margin: 0 10px; */
    font-size: 14px;
    padding: 8px;
    text-align: center;
    color: white;
    background-color: rgb(59, 59, 59);
}

/* .content h3::before{
    content: '#';
} */



.caption{
    padding: 0.8rem 1rem 0;
    height: 8rem;
}

.content.game span{
    background-color: #d83473;
    color: white;
    padding: 3px 10px 5px;
    border-radius: 5px;
    font-family: 'YuGothic', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

/* .game-style.pink { background: rgb(223, 72, 147); }
.game-style.blue { background: rgb(92, 56, 192); }
.game-style.yellow { background: rgb(245, 242, 69); }
.game-style.sky { background: rgb(36, 186, 212); }
 */

.caption p{
    display: block;
    margin-top: 0.8rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 4rem;
    font-size: 12px;
}

/* .game-style.blue p{
    display: block;
    margin-top: 0.8rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 5rem;
    font-size: 12px;
} */

footer{
    background: rgb(59, 59, 59);
    color: white;
    text-align: center;
    line-height: 90px;
}